.DS_Store
*/.DS_Store
/Plugin/Universal Plugin Files/.DS_Store
/Plugin/iOS Files/.DS_Store
*.csproj
*.sln
*.pidb
Temp/
Library/
xcode_project/
gen/
bin/
ExampleProject/UISample/UISample.userprefs
ExampleProject/SensorStreaming/SensorStreaming.userprefs
ExampleProject/HelloWorld/IOS_BUILD/Unity-iPhone.xcodeproj/xcuserdata/michaeldephillips.xcuserdatad/xcschemes/xcschememanagement.plist
ExampleProject/HelloWorld/IOS_BUILD/Unity-iPhone.xcodeproj/xcuserdata/michaeldephillips.xcuserdatad/xcschemes/Unity-iPhone.xcscheme
ExampleProject/HelloWorld/IOS_BUILD/Unity-iPhone.xcodeproj/xcuserdata/michaeldephillips.xcuserdatad/xcschemes/Unity-iPhone-simulator.xcscheme
ExampleProject/HelloWorld/IOS_BUILD/Unity-iPhone.xcodeproj/project.xcworkspace/xcuserdata/michaeldephillips.xcuserdatad/UserInterfaceState.xcuserstate
ExampleProject/HelloWorld/IOS_BUILD/Unity-iPhone.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ExampleProject/HelloWorld/IOS_BUILD/Unity-iPhone.xcodeproj/project.pbxproj
ExampleProject/HelloWorld/IOS_BUILD/Unity-iPhone.xcodeproj/michaeldephillips.pbxuser
ExampleProject/HelloWorld/IOS_BUILD/Libraries/UnityEngine.dll.s
ExampleProject/HelloWorld/IOS_BUILD/Libraries/System.dll.s
ExampleProject/HelloWorld/IOS_BUILD/Libraries/RobotKit.framework.meta
ExampleProject/HelloWorld/IOS_BUILD/Libraries/RKUNBridge.mm.meta
ExampleProject/HelloWorld/IOS_BUILD/Libraries/RKUNBridge.mm
ExampleProject/HelloWorld/IOS_BUILD/Libraries/RKUNBridge.h.meta
ExampleProject/HelloWorld/IOS_BUILD/Libraries/RKUNBridge.h
ExampleProject/HelloWorld/IOS_BUILD/Libraries/RegisterMonoModules.h
ExampleProject/HelloWorld/IOS_BUILD/Libraries/RegisterMonoModules.cpp
ExampleProject/HelloWorld/IOS_BUILD/Libraries/mscorlib.dll.s
ExampleProject/HelloWorld/IOS_BUILD/Libraries/Mono.Security.dll.s
ExampleProject/HelloWorld/IOS_BUILD/Libraries/libiPhone-lib.a
ExampleProject/HelloWorld/IOS_BUILD/Libraries/JsonFx.Json.dll.s
ExampleProject/HelloWorld/IOS_BUILD/Libraries/Assembly-CSharp.dll.s
ExampleProject/HelloWorld/IOS_BUILD/Libraries/Assembly-CSharp-firstpass.dll.s
ExampleProject/HelloWorld/IOS_BUILD/Info.plist
ExampleProject/HelloWorld/IOS_BUILD/Icon@2x.png
ExampleProject/HelloWorld/IOS_BUILD/Icon.png
ExampleProject/HelloWorld/IOS_BUILD/Icon-72.png
ExampleProject/HelloWorld/IOS_BUILD/Icon-144.png
ExampleProject/HelloWorld/IOS_BUILD/Default@2x.png
ExampleProject/HelloWorld/IOS_BUILD/Default.png
ExampleProject/HelloWorld/IOS_BUILD/Default-Portrait@2x.png
ExampleProject/HelloWorld/IOS_BUILD/Default-Portrait.png
ExampleProject/HelloWorld/IOS_BUILD/Default-Landscape@2x.png
ExampleProject/HelloWorld/IOS_BUILD/Default-Landscape.png
ExampleProject/HelloWorld/IOS_BUILD/Default-568h@2x.png
ExampleProject/HelloWorld/IOS_BUILD/Data/unity default resources
ExampleProject/HelloWorld/IOS_BUILD/Data/sharedassets2.assets
ExampleProject/HelloWorld/IOS_BUILD/Data/sharedassets1.assets
ExampleProject/HelloWorld/IOS_BUILD/Data/sharedassets0.assets
ExampleProject/HelloWorld/IOS_BUILD/Data/resources.assets
ExampleProject/HelloWorld/IOS_BUILD/Data/PlayerConnectionConfigFile
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/UnityEngine.dll
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/System.dll.mdb
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/System.dll
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/mscorlib.dll.mdb
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/mscorlib.dll
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/mono/2.0/machine.config
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/Mono.Security.dll.mdb
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/Mono.Security.dll
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/JsonFx.Json.dll
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/Assembly-CSharp.dll.mdb
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/Assembly-CSharp.dll
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/Assembly-CSharp-firstpass.dll.mdb
ExampleProject/HelloWorld/IOS_BUILD/Data/Managed/Assembly-CSharp-firstpass.dll
ExampleProject/HelloWorld/IOS_BUILD/Data/mainData
ExampleProject/HelloWorld/IOS_BUILD/Data/level1
ExampleProject/HelloWorld/IOS_BUILD/Data/level0
ExampleProject/HelloWorld/IOS_BUILD/Classes/RegisterClasses.h
ExampleProject/HelloWorld/IOS_BUILD/Classes/RegisterClasses.cpp
ExampleProject/HelloWorld/IOS_BUILD/Classes/MainWindow.xib
ExampleProject/HelloWorld/IOS_BUILD/Classes/main.mm
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_target_Prefix.pch
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_target2AppDelegate.m
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_target2AppDelegate.h
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_Profiler.h
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_Profiler.cpp
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_GlesSupport.h
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_GlesSupport.cpp
ExampleProject/HelloWorld/IOS_BUILD/Classes/iPhone_Common.h
ExampleProject/HelloWorld/IOS_BUILD/Classes/AppController.mm
ExampleProject/HelloWorld/IOS_BUILD/Classes/AppController.h
ExampleProject/HelloWorld/HelloWorld.userprefs
ExampleProject/HelloWorld/AndroidBuild.apk
ExampleProject/HelloWorld/ANDROID_BUILD.apk